<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:muzicProp.properties" />

    <!--example-->
    <context:component-scan base-package="org.example" />

<!--    <bean id="testBean"-->
<!--          class="org.example.testBean">-->
<!--        <constructor-arg value="Noitora"/>-->
<!--    </bean>-->

    <!--Вместо ручного создания бина, скажем спрингу что бы сам сохдавал через context:component-scan-->
<!--    <bean id="RockBean"-->
<!--          class="org.example.RockMuzik"-->
<!--          init-method="doMyInit"-->
<!--          destroy-method="doMyDesrtroy"-->
<!--          scope="prototype"-->
<!--    factory-method="getInstance">&lt;!&ndash;создаём объект только с помощью метода&ndash;&gt;-->
<!--    </bean>-->

<!--    <bean id="ClaccikBean"-->
<!--          class="org.example.ClassikMuzik">-->
<!--    </bean>-->

<!--    <bean id="MetallBean"-->
<!--          class="org.example.MetalMuzik">-->
<!--    </bean>-->

    <!--установка значений через конструктор-->
<!--    <bean id="MuzPlayer"-->
<!--          class="org.example.MuzikPlayer">-->
<!--        <constructor-arg ref="RockBean" />-->
<!--    </bean>-->

    <!--через сеттер-->
<!--    <bean id="MuzPlayerS"-->
<!--        class="org.example.MuzikPlayer"-->
<!--        scope="prototype">&lt;!&ndash;init вызовется не один раз, destroy не вызовется&ndash;&gt;-->
<!--        &lt;!&ndash;<property name="muzik" ref="RockBean" />&ndash;&gt;-->
<!--        &lt;!&ndash;передача значений полям класса&ndash;&gt;-->
<!--        &lt;!&ndash;<property name="name" value="Grigoriy" />-->
<!--        <property name="volume" value="54" />&ndash;&gt;-->

<!--        &lt;!&ndash;через файл properties&ndash;&gt;-->
<!--        <property name="name" value="${muzikPlayer2.name}" />-->
<!--        <property name="volume" value="${muzikPlayer2.volume}" />-->

<!--        <property name="muz">-->
<!--            <list> &lt;!&ndash;передаём список из объектов&ndash;&gt;-->
<!--                &lt;!&ndash;<ref bean="RockBean"></ref>&ndash;&gt;-->
<!--                <ref bean="classikMuzik"></ref>-->
<!--                <ref bean="MetallBean"></ref>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->


    <!--mvc1-->

</beans>